/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@400;600&display=swap");

/* Set variables for all modes */
:root {
  /* Set the background of the entire app */
  --ion-background-color: #f2eae1;
  --ion-color-custom-yellow: #fdb40b;
  --ion-color-custom-yellow-rgb: 253, 180, 11;
  --ion-color-custom-yellow-contrast: #2d3436;
  color: #000;

  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Roboto", sans-serif;
}

/* Set text color of the entire app for iOS only */
:root.ios {
  --ion-text-color: #000;
}

/* Set text color of the entire app for Material Design only */
:root.md {
  --ion-text-color: #0a0808;
  --ion-toolbar-background: #fdfdfd !important;
}
/* Fondo de todos los contenedores*/
/*ion-content {
  background-color: #fdb40b !important;
}*/

/*.backgorund-content {
  background-color: #ac1616 !important;
}*/

/*@media (prefers-color-scheme: dark) {
  :root.md {
    --ion-item-background: #e2dada;
  }
}*/

:clientes-page.ion-page {
  background-color: #bb1a1a;
}

.custom-menu {
  --ion-color-primary: #feb514;
  --ion-color-primary-rgb: 253, 180, 11;
}
