/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@400;600&display=swap");

/* Set variables for all modes */
:root {
  /* Set the background of the entire app */
  --ion-background-color: linear-gradient(135deg, #fffbe6 0%, #e2e4e6 100%),
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs><pattern id="dots" width="20" height="20" patternUnits="userSpaceOnUse"><circle cx="10" cy="10" r="1.5" fill="%23fdb40b" opacity="0.13"/></pattern></defs><rect width="100" height="100" fill="url(%23dots)"/></svg>');
  --ion-color-custom-yellow: #fdb40b;
  --ion-color-custom-yellow-rgb: 253, 180, 11;
  --ion-color-custom-yellow-contrast: #2d3436;
  color: #000;

  /* Set the font family of the entire app */
  --ion-font-family: "Roboto", sans-serif;
}

/* Set text color of the entire app for iOS only */
:root.ios {
  --ion-text-color: #000;
}

/* Set text color of the entire app for Material Design only */
:root.md {
  --ion-text-color: #0a0808;
}

/* Animación Aurora para el menú */
@keyframes aurora {
  0% { 
    background-position: 0% 50%;
  }
  50% { 
    background-position: 100% 50%;
  }
  100% { 
    background-position: 0% 50%;
  }
}

.custom-menu {
  --ion-color-primary: #feb514;
  --ion-color-primary-rgb: 253, 180, 11;
  --background: linear-gradient(135deg, #fffbe6 0%, #e2e4e6 100%) padding-box,
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs><pattern id="dots" width="20" height="20" patternUnits="userSpaceOnUse"><circle cx="10" cy="10" r="1.5" fill="%23fdb40b" opacity="0.13"/></pattern></defs><rect width="100" height="100" fill="url(%23dots)"/></svg>') center/cover repeat;
  animation: aurora 8s linear infinite;
  background-size: 400% 400%;
}